{
    "Source" : "",
    "DepthStencilState" : {
        "Depth": 
        {
            "Enable": true, 
            "WriteMask" : "Zero",   // Avoid writing the depth
            "CompareFunc" : "Less"
        }
    },
    "DrawList": "silhouette",
    "RasterState": { 
        "CullMode": "Back"
    },

    "GlobalTargetBlendState": {
        "Enable": false
    },
    "ProgramSettings": {
        "EntryPoints": [
        {
            "name": "MainVS",
            "type" : "Vertex"
        },
        {
            "name": "MainPS",
            "type" : "Fragment"
        }
        ]
    },
    "Supervariants":
    [
        {
            "Name": "NoMSAA",
            "AddBuildArguments": {
                "azslc": ["--no-ms"]
            }
        }
    ]
}

